<!-- app/views/dice_templates/play_dice.html.erb 

create new template folder and create a view page within folder -->
<h1><%= @num_dice %>d<%= @sides %></h1>

<ul>
  <% @rolls.each do |a_roll| %>
    <li>
      <%= a_roll %>
    </li>
  <% end %>
</ul>
